
<div id="title">
	<span id="name">regret</span>
	<hr>
	<div class="subtitle">a painless machine learning framework for everyone</div>
</div>

<div class="content">
	<p>
		We think machine learning systems should be as simple to build and deploy as web apps.
	</p>
	<p>
		The goal of the <b>Regret</b> framework is to do for machine learning what frameworks like <%= link_to 'Django', 'https://www.djangoproject.com/' %> and <%= link_to 'Rails', 'http://rubyonrails.org/' %> have done for web development.
	</p>
</div>

